
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Personality Questionnaire</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style type="text/css">
    h2,h4,h3
    {
      font-family: "Times New Roman", Times, serif;
      text-align: center;
    }
    img { 
width: 200px; 
height: 130px; 
text-align: center;
}

    .privew {
    margin-bottom: 20px;
}
.questionsBox {
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);
    border-radius: 3px;
    margin: 0 10px;
}.questions {
    background: #007fbe;
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
}
.questions:after {
    background: url(../img/icon.png) no-repeat left 0;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0;
}
.questions:before, .questions:after {
    background: black;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.answerList {
    margin-bottom: 15px;
}


ol, ul {
    list-style: none;
}
.answerList li:first-child {
    border-top-width: 0;
}

.answerList li {
    padding: 3px 0;
}
.answerList label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}
.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}
.button, .greyButton {
    background-color: #f2f2f2;
    color: #888888;
    display: inline-block;
    border: solid 3px #cccccc;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 27px;
    min-width: 160px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: capitalize;
}
.questionsRow span {
    float: right;
    display: inline-block;
    line-height: 30px;
    border: solid 1px #aeb9c0;
    padding: 0 10px;
    background: #FFF;
    color: #007fbe;
}

  </style>
</head>
<body>
<h2> Take this fun quiz and help us analyse your personality better</h2>
<h3>Remember, there are no wrong answers. Answer all questions honestly.</h3>
<br>
<div class="container">
  <form >
  <div class="privew">
    <div class="questionsBox">

        <div class="questions">I am the life of the party</div>
               <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup1" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup1" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup1" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup1" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup1" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>1 of 50</span>

        <br>
        <br>

     <div class="questions">I feel little concern for others</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup2" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup2" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup2" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup2" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup2" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>2 of 50</span>
         <br>
         <br>
    
     <div class="questions">I am always prepared</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup3" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup3" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup3" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup3" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup3" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>3 of 50</span>
         <br>
         <br>
         <div class="questions">I get stressed out easily</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup4" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup4" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup4" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup4" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup4" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>4 of 50</span>
         <br>
         <br>
         <div class="questions">I have a rich vocabulary</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup5" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup5" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup5" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup5" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup5" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>5 of 50</span>
         <br>
         <br>
         <div class="questions">I don't talk a lot</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup6" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup6" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup6" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup6" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup6" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>6 of 50</span>
         <br>
         <br>
         <div class="questions">I am interested in people</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup7" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup7" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup7" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup7" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup7" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>7 of 50</span>
         <br>
         <br>
         <div class="questions">I leave my belongs around</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup8" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup8" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup8" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup8" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup8" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>8 of 50</span>
         <br>
         <br>
         <div class="questions">I am relaxed most of the time</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup9" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup9" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup9" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup9" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup9" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>9 of 50</span>
         <br>
         <br><div class="questions">I have difficulty understanding abstract ideas</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup10" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup10" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup10" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup10" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup10" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>10 of 50</span>
         <br>
         <br>
        <div class="questions">I feel comfortable around people</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup11" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup11" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup11" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup11" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup11" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>11 of 50</span>
         <br>
         <br>
         <div class="questions">I insult people</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup12" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup12" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup12" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup12" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup12" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>12 of 50</span>
         <br>
         <br>
         <div class="questions">I pay attention to details</div>
               <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup13" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup13" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup13" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup13" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup13" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>13 of 50</span>
        <br>
        <br>
        <div class="questions">I worry about things</div>
               <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup14" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup14" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup14" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup14" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup14" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>14 of 50</span>
        <br>
        <br>
        <div class="questions">I have a vivid imagination</div>
               <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup15" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup15" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup15" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup15" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup15" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>15 of 50</span>
        <br>
        <br>
        <div class="questions">I keep in the background</div>
               <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup16" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup16" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup16" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup16" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup16" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>16 of 50</span>
        <br>
        <br>
        <div class="questions">I sympathise with others' feelings</div>
               <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup17" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup17" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup17" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup17" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup17" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>17 of 50</span>
        <br>
        <br>
        <div class="questions">I make a mess of things</div>
               <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup18" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup18" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup18" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup18" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup18" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>18 of 50</span>
        <br>
        <br>
        <div class="questions">I seldom feel blue</div>
               <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup19" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup19" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup19" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup19" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup19" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>19 of 50</span>
        <br>
        <br>
        <div class="questions">I am not interested in abstract ideas</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup20" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup20" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup20" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup20" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup20" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>20 of 50</span>
         <br>
         <br>
         <div class="questions">I start conversations</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup21" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup21" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup21" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup21" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup21" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>21 of 50</span>
         <br>
         <br>
         <div class="questions">I am not interested in other people's problems</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup22" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup22" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup22" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup22" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup22" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>22 of 50</span>
         <br>
         <br>
          <div class="questions">I get chores done right away</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup23" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup23" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup23" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup23" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup23" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>23 of 50</span>
         <br>
         <br>
          <div class="questions">I am easily disturbed</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup24" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup24" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup24" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup24" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup24" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>24 of 50</span>
         <br>
         <br>
          <div class="questions">I have excellent ideas</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup25" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup25" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup25" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup25" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup25" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>25 of 50</span>
         <br>
         <br>
          <div class="questions">I have little to say</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup26" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup26" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup26" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup26" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup26" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>26 of 50</span>
         <br>
         <br>
          <div class="questions">I have a soft heart</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup27" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup27" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup27" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup27" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup27" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>27 of 50</span>
         <br>
         <br>
          <div class="questions">I often forget to put things back in their proper place</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup28" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup28" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup28" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup28" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup28" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>28 of 50</span>
         <br>
         <br>
          <div class="questions">I get upset easily</div>
       
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup29" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup29" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup29" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup29" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup29" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
         <span>29 of 50</span>
         <br>
         <br>
         <div class="questions">I donot have a good imagination</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup30" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup30" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup30" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup30" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup30" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>30 of 50</span>
         <br>
         <br>
         <div class="questions">I talk to a lot of different people at parties</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup31" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup31" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup31" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup31" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup31" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>31 of 50</span>
         <br>
         <br>
         <div class="questions">I am not really interested in others</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup32" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup32" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup32" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup32" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup3" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>32 of 50</span>
         <br>
         <br>
         <div class="questions">I like order</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup33" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup33" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup33" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup33" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup33" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>33 of 50</span>
         <br>
         <br>
         <div class="questions">I change my mood a lot</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup34" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup34" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup34" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup34" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup34" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>34 of 50</span>
         <br>
         <br>
         <div class="questions">I am quick to understand things</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup35" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup35" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup35" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup35" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup35" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>35 of 50</span>
         <br>
         <br>
         <div class="questions">I don't like to draw attention to myself</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup36" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup36" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup36" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup36" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup36" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>36 of 50</span>
         <br>
         <br>
         <div class="questions">I take time out for others</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup37" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup37" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup37" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup37" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup37" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>37 of 50</span>
         <br>
         <br>
         <div class="questions">I shirk my duties</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup38" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup38" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup38" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup38" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup38" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>38 of 50</span>
         <br>
         <br>
         <div class="questions">I have frequent mood swings</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup39" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup39" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup39" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup39" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup39" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>39 of 50</span>
         <br>
         <br>
         <div class="questions">I use difficult words</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup40" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup40" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup40" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup40" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup40" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>40 of 50</span>
         <br>
         <br>
         <div class="questions">I don't mind being the centre of attention</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup41" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup41" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup41" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup41" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup41" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>41 of 50</span>
         <br>
         <br>
         <div class="questions">I feel others' emotions</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup42" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup42" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup42" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup42" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup42" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>42 of 50</span>
         <br>
         <br>
         <div class="questions">I follow a schedule</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup43" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup43" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup43" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup43" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup43" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>43 of 50</span>
         <br>
         <br>
         <div class="questions">I get irritated easily</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup44" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup44" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup44" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup44" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup44" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>44 of 50</span>
         <br>
         <br>
         <div class="questions">I spend time reflecting on things</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup45" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup45" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup45" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup45" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup45" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>45 of 50</span>
         <br>
         <br>
         <div class="questions">I am quiet around strangers</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup46" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup46" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup46" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup46" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup46" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>46 of 50</span>
         <br>
         <br>
         <div class="questions">I make people feel at ease</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup47" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup47" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup47" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup47" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup47" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>47 of 50</span>
         <br>
         <br>
         <div class="questions">I am exacting in my work</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup48" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup48" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup48" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup48" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup48" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>48 of 50</span>
         <br>
         <br>
         <div class="questions">I often feel blue</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup49" value="5" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup49" value="4" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup49" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup49" value="2" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup49" value="1" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>49 of 50</span>
         <br>
         <br>
         <div class="questions">I am full of ideas</div>
        <ul class="answerList">
            <li>
                <label>
                    <input type="radio" name="answerGroup50" value="1" id="answerGroup_0" required> Strongly Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup50" value="2" id="answerGroup_1" required> Disagree</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup50" value="3" id="answerGroup_2" required> Neutral</label>
            </li>
            <li>
                <label>
                    <input type="radio" name="answerGroup50" value="4" id="answerGroup_3" required> Agree</label>
            </li>
             <li>
                <label>
                    <input type="radio" name="answerGroup50" value="5" id="answerGroup_4" required> Strongly Agree</label>
            </li>
        </ul>
        <span>50 of 50</span>
         <br>
         <br>
    </div>
</div>
<center>
 <input type="submit" class="btn btn-primary" name="submit">
</center>
<br>
<br>
<br>

</div>

  </form>
</div>
<script src="/js/app.js"></script>
</body>
</html>

