<!DOCYTPE HTML>
<html lang="en">/
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/twitter.css" type="text/css" />
      <title>Autheticate Twitter</title>
  </head>
  <body> 
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>  
      <div class="container">
        <center>
          <br>
          <br>
          <br>
        <a href="/twitter/login" title="Twitter" class="btn btn-twitter btn-lg"><i class="fa fa-twitter">    Allow Access To Twitter</i></a>
        <br>
        <br>

        <a href='/quiz'>Don't Have Twitter? Take the Personality Quiz Instead</a>
      </center>
   
    </div>
         
  </body>
</html>

